/* @import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700'); */

@font-face {
  font-family: "CSAIL_Ebony";
  src: url("../fonts/CSAIL_Ebony-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "CSAIL_Ebony";
  src: url("../fonts/CSAIL_Ebony-RegularItalic.ttf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "CSAIL_Ebony";
  src: url("../fonts/CSAIL_Ebony-Regular.ttf");
}

a {
  /*color: #343969;*/
  color: #021a83;
}

.blog a {
  text-decoration: underline;
}

a:hover {
  /*color: #171F69;*/
  color: #0433ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "CSAIL_Ebony", sans-serif;
  font-size: 17px;
}

h1, h2 {
  font-weight: normal;
}

h1, h2, h3 {
  margin-bottom: 1em;
}

h2:not(:first-child) {
  margin-top: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 1em;
}

li p {
  margin-bottom: 0;
}

#nav {
  padding: 1.5em 2.5em;
  border-bottom: 2px solid #eee;
}

#nav h2 {
  display: inline-block;
  margin: 0;
  color: #666;
}

#nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

#nav li {
  display: inline-block;
  margin: 0;
  font-size: 30px;
}

#nav ul a {
  text-decoration: none;
  padding: 0 0.5em;
}

#nav ul a.current {
  text-decoration: underline;
}

#content {
  padding: 1.5em 2.5em;
  max-width: 1024px;
}

#content.blog {
  max-width: 768px;
}

#content img {
  width: 100%;
  border-radius: 5px;
}

ul.people {
  list-style-type: none;
  padding-left: 0;
}

ul.people li {
  display: inline-block;
  margin-right: 2em;
  text-align: center;
}

#content ul.people li img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

p {
  margin-bottom: 1em;
  text-align: left;
}

#content ul.paper-highlights {
  padding-right: 12em;
}

#content ul.paper-highlights li {
  list-style-type: none;
  margin-bottom: 2em;
}

#content ul.paper-highlights li p {
  margin-bottom: 0.5em;
}

#content ul.paper-highlights li img {
  float: right;
  width: 10em;
  margin-right: -12em;
}

a.code, a.project {
  display: inline-block;
  // color: #fff;
  font-size: 80%;
  padding: .2em;
  margin: .2em;
  margin-left: 0;
  border: 1px solid;
}

a.code, a.project {
  border-color: #343969;
}

span.press {
  border: 1px solid #AB4F1E;
  color: #AB4F1E;
  display: inline-block;
  padding: .2em;
  font-size: 80%;
}

span.press a {
  color: #AB4F1E;
}


#papers ~ ul li {
  margin-bottom: 2em;
}

#papers ~ ul {
  padding-left: 1em;
  border-left: 2px solid #eee;
}

#content.blog .aside {
  width: 220px;
  font-size: 14px;
  float: right;
  margin-right: -240px;
  transform: translateY(-100%);
  margin-top: -1.2em;
  text-align: left;
}

@media (max-width: 1024px) {
  #content {
    margin: 1em;
    padding: 0;
    max-width: none;
  }

  #content p {
    text-align: left;
  }

  #nav {
    padding: 1em;
    border-bottom: 2px solid #eee;
  }

  #nav h2 {
    display: block;
  }

  #nav ul {
    display: block;
    margin-left: 0;
    margin-top: .5em;
  }

  #nav ul a {
    padding: 0;
  }

  #nav li {
    display: inline-block;
    font-size: 25px;
    margin-right: .5em;
  }

  #content.blog .aside {
    font-size: 14px;
    float: none;
    padding-left: 1em;
    padding-top: 1em;
    width: 100%;
    transform: none;
  }
}

@media (min-device-width:320px) and (max-device-width:768px) {
  body {
    font-size: 40px;
  }

  blockquote, #content.blog .aside {
    font-size: 35px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  #nav li {
    font-size: 40px;
  }

  #content ul.people li {
    width: 220px;
  }

  #content ul.people li a img {
    width: 200px;
    height: 200px;
  }

}

