@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700');

body {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  font-size: 17px;
}

h1, h2 {
  font-weight: normal;
}

h2 {
  margin-bottom: 1em;
}

h2:not(:first-child) {
  margin-top: 1em;
}

li {
  margin-bottom: 1em;
}

li p {
  margin-bottom: 0.5em;
}

#nav {
  padding: 1.5em 2.5em;
  border-bottom: 2px solid #eee;
}

#nav h2 {
  display: inline-block;
  margin: 0;
  color: #666;
}

#nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

#nav li {
  display: inline-block;
  margin: 0;
  font-size: 30px;
}

#nav ul a {
  text-decoration: none;
  padding: 0 0.5em;
}

#nav ul a.current {
  text-decoration: underline;
}

#content {
  padding: 1.5em 2.5em;
  width: 1024px;
}

#content img {
  width: 100%;
  border-radius: 5px;
}

ul.people {
  list-style-type: none;
  padding-left: 0;
}

ul.people li {
  display: inline-block;
  margin-right: 2em;
}

#content ul.people li img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

p {
  margin-bottom: 1em;
}
